<% content_for(:title, "アカウントセットアップ | ") %>
<%= form_with(url: profiles_path, model: @account, method: :post) do |f| %>
  <div class="absolute w-screen top-20 flex flex-col">

    <div class="flex mx-auto">
      <p>名前：</p>
      <%= f.text_field :name %>
    </div>
    <div class="flex mx-auto">
      <p>紹介文：</p>
      <%= f.text_area :introduction %>
    </div>

    <div class="flex mx-auto">
      <%= f.submit '登録' %>
    </div>
    <div class="px-2 py-8 flex">
      <p class="text-2xl mx-auto text-green-500">Select your type to use this app.</p>
    </div>
    <div class="flex mx-auto gap-x-8">
      <label class="flex flex-col">
        <%= embedded_svg "svg/candidate.svg", class: "w-80 h-60 rounded-xl py-6 border border-green-500 hover:bg-green-200 hover:p-4" %>
        <p class="text-green-500 mx-auto py-4 text-lg">受験生</p>
        <%= radio_button_tag('status', 'candidate', checkd: true) %>
      </label>
      <label class="flex flex-col">
        <%= embedded_svg "svg/professor.svg", class: "w-80 h-60 rounded-xl py-6 border border-green-500 hover:bg-green-200 hover:p-4" %>
        <p class="text-green-500 mx-auto py-4 text-lg">教授</p>
        <%= radio_button_tag('status', 'professor') %>
      </label>
    </div>
  </div>
<% end %>
